<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moment 2 - Backend</title>
</head>
<body>
    <h1>Moment 2.1</h1>
    <p>Testar...</p>
    <script>
/*         let url ="http://127.0.0.1:3000/resume";

        getData();

        async function getData(){
            const response = await fetch(url);
            const data = await response.json();
            console.table(data);
        } */
    </script>
</body>
</html>