<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moment 2 - Backend</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
    <div class="container">
    <h1>Moment 2.1</h1>
    <br>
    <div class="use-api">
    <h2>Ändelser</h2>
    <ul>
        <li>GET: /resume</li>
        <li>POST: /resume/add</li>
        <li>PUT: /resume/update/:id </li>
        <li>DELETE: /resume/delete/:id</li>
    </ul>
</div>
</div>
    <script>
        let url ="http://127.0.0.1:3000/resume";

        getData();
        //createJob("Test index company", "test-title", "test-location");

        async function getData(){
            const response = await fetch(url);
            const data = await response.json();
            console.table(data);
        } 

        async function createJob(companyname, jobtitle, location){
            let job = {
                companyname: companyname,
                jobtitle: jobtitle,
                location: location
            }
            const response = await fetch("http://127.0.0.1:3000/resume/add", {
                method: "POST",
                headers: {
                    "content-type": "Application/json"
                },
                body: JSON.stringify(job)
            });

            const data = await response.json();
            console.log(data);
        }
    </script>
</body>
</html>